{% load static %}
{% load manifest %}
<!doctype html>
<html lang="ru">
    <head>
        <title>{% block title %}Knowledge Base{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% manifest 'main.css' %}">
    </head>
    <body>
        <div class="container">
            {% block header %}{% endblock %}
            {% block breadcrumb %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
        <script src="{% manifest 'main.js' %}"></script>
    </body>
</html>

